/*start your css here*/

#main-navbar {
  width: 100%;
  position: relative;
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
  position: relative;
  float: left;
  left: 50%;
}

#navbar-container ul {
  position: relative;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  right: 50%;
}

#navbar-container ul li {
  float: left;
  display: block;
  padding: 10px 20px;
}

#navbar-container a {
  color: #fff;
  text-decoration: none;
}

#navbar-container a:active {
  background-color: #000;
}

#onpage a {
  text-decoration: underline overline;
}

#sidebar {
  position: fixed;
  left: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#sidebar ul li {
  display: block;
  padding: 15px 0;
}

#sidebar a {
  color: #fff;
  text-decoration: none;
}

#sidebar a:active {
  background-color: #000;
}